.App {
  width: 75%;
  max-width: 800px;
  margin: auto;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 0;
}

header h1 {
  margin-bottom: 20px;
}

button {
  border-radius: 5px;
  padding: 10px;
  border: 2px solid white;
  background-color: #bf6439;
  color: white;
  margin: 20px;
  font-size: 25px;
}

.feature {
  display: flex;
  width: 100%;
}

.feature.odd {
  flex-direction: row-reverse;
}

.featureText {
  display: flex;
  flex-direction: column;
}

.featureImg {
  width: 175px;
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  margin-top: 75px;
  border-top: 2px solid slategray;
  color: slategray;
}

.disappear {
  opacity: 0;
  transition: opacity 3s;
}

.client h1 {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
}

.client img {
  display: block;
  width: 80%;
  margin: auto;
}

.client p {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

#message {
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  .feature {
    flex-direction: column;
  }
  .feature.odd {
    flex-direction: column;
  }
  .featureImg {
    align-self: center;
  }
}

/* animation */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.hide-enter {
  opacity: 0;
}
.hide-enter-active {
  opacity: 1;
  transition: opacity 2500ms;
}
.hide-exit {
  opacity: 1;
}
.hide-exit-active {
  opacity: 0;
  transition: opacity 2500ms;
}
